# Public configuration data.  The contents of this file may be freely shared
# with developers if needed for debugging.

# A schema's sections, keys, and values are automatically inherited, except
# for '.optional' sections.  Update this config to override key values.
# Values are strings, except for numbers that look like ints.  The tokens
# true, false, and none are treated as True, False, and None.

{% from "macros.j2" import opt -%}

[meta]
extends: ../launchpad-db-lazr.conf

[gpghandler]
{{- opt("host", gpghandler_host) }}
{{- opt("port", gpghandler_port) }}
{{- opt("http_proxy", gpghandler_http_proxy) }}
