# compiled python files
*.pyc

# tags
.tags
/tags
TAGS
tags.new

# version files
version-info.py
version-info.txt

# log files
logs/*
!logs/README.txt
/logs
librarian.log

# development tools configurations
.project
.pydevproject
.idea
.emacs.desktop
.vscode

# local run artifacts
*.egg-info
build
dist
/eggs
/download-cache
/env
/production-configs
bin
.installed.cfg
parts

# specific software or tools
.tox/
/geckodriver.log
.cache
.subversion
.testrepository
.bazaar
.memcache.pid
twistd.pid
_trial_temp
/celerybeat-schedule
requirements/combined.txt

# revision control systems
bzr.dev

# launchpad specific
lib/canonical/launchpad/apidoc
lib/canonical/launchpad/apidoc/*.html
lib/canonical/launchpad/apidoc/wadl-development-*.xml
lib/canonical/launchpad/apidoc/wadl-test-playground.xml
lib/canonical/launchpad/icing/build/*
lib/canonical/launchpad/icing/base.css
lib/canonical/launchpad/icing/base.css.map
lib/canonical/launchpad/icing/combo.css
lib/canonical/launchpad/icing/combo.css.map
lib/canonical/launchpad/icing/*-sprites-*.png
lib/canonical/launchpad/icing/*.positioning
lib/canonical/launchpad/icing/yui
lib/canonical/launchpad/icing/css/base.css
lib/canonical/launchpad/icing/css/base.css.map
lib/canonical/launchpad/icing/css/colours.css
lib/canonical/launchpad/icing/css/colours.css.map
lib/canonical/launchpad/icing/css/components/homepage.css
lib/canonical/launchpad/icing/css/components/homepage.css.map
lib/canonical/launchpad/icing/css/components/social_accounts.css
lib/canonical/launchpad/icing/css/components/social_accounts.css.map
lib/canonical/launchpad/icing/css/forms.css
lib/canonical/launchpad/icing/css/forms.css.map
lib/canonical/launchpad/icing/css/layout.css
lib/canonical/launchpad/icing/css/layout.css.map
lib/canonical/launchpad/icing/css/modifiers.css
lib/canonical/launchpad/icing/css/typography.css
lib/canonical/launchpad/icing/css/typography.css.map
lib/canonical/launchpad/icing/vanilla-framework
lib/canonical/launchpad/icing/vanilla/**/*.css
lib/canonical/launchpad/icing/vanilla/**/*.css.map
!lib/canonical/launchpad/icing/vanilla/vanilla_framework_version_4_44_0_min.css
lib/canonical/launchpad/icing/vanilla.css.map
lib/canonical/launchpad/icing/vanilla.css

# database schemas and sample data
database/schema/diagrams/*.ps
database/schema/diagrams/*.dot
database/sampledata/newsampledata.sql
database/sampledata/newsampledata-dev.sql
database/sampledata/lintdata.sql
database/sampledata/lintdata-dev.sql

# source and development files
thread*.request
cover.txt
.shelf
development-nohup.out
opensource/launchpadlib/build
opensource/launchpadlib/dist
opensource/launchpadlib/*.egg*

# profiling and debugging
*.prof
callgrind.out.*
run.gdb

# node and python packages
yarn/node_modules
/wheels

# misc
+*
/botmaster
xxx-report.*
lp-clustered.dot
lp-clustered.sfood
lp-clustered.svg
lp.sfood
apidocs
configs/testrunner_*
configs/testrunner-appserver_*
