TZ=UTC
MAILFROM={{ bounce_address }}
MAILTO={{ cron_mailto }}
LPCONFIG=launchpad-librarian1

{% if active -%}
45 17 * * * {{ code_dir }}/cronscripts/expire-archive-files.py --expire-after=7 >> {{ logs_dir }}/expire-archive-files.log 2>&1

# Garbage collector.  Ensure it doesn't run during a backup, or clash with a
# fastdowntime.
15 10 * * * {{ code_dir }}/cronscripts/librarian-gc.py -q --log-file=DEBUG:{{ logs_dir }}/librarian-gc.log

# Backfill SHA-512 hashes for LibraryFileContent
03-58/5 * * * * {{ code_dir }}/cronscripts/librarian-backfill-sha512.py -q --log-file=INFO:{{ logs_dir }}/librarian-backfill-sha512.log

{% endif -%}
{% if os_password and not upstream_host -%}
# Feed locally-spooled uploads into Swift.
{% for i in range(swift_feed_workers) -%}
*/10 * * * * run-one {{ code_dir }}/cronscripts/librarian-feed-swift.py --remove -q --log-file=INFO:{{ logs_dir }}/librarian-feed-swift-{{ i }}.log --num-instances={{ swift_feed_workers }} --instance-id={{ i }}
{% endfor %}
{% endif -%}
# Delete old logs
15 0 * * * find {{ logs_dir }} -maxdepth 1 -type f -mtime +90 -name 'librarian.log.*' -delete

# Catch up with publishing OOPSes that were temporarily spooled to disk due
# to RabbitMQ being unavailable.
*/15 * * * * {{ code_dir }}/bin/datedir2amqp --exchange oopses --host {{ rabbitmq_host }} --username {{ rabbitmq_username }} --password {{ rabbitmq_password }} --vhost {{ rabbitmq_vhost }} --repo {{ oopses_dir }} --key ""

